
.root {
    -fx-background-color: #59b4a8;
    -fx-padding: 20px;
}

.status-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 10px 0;
}


.cell {
    -fx-min-width: 120px;
    -fx-min-height: 120px;
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-border-color: #3a8a80;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-text-fill: #2f2f2f;
        -fx-scale-x: 1;
        -fx-scale-y: 1;
}
.cell:pressed {
    -fx-scale-x: 0.92;
    -fx-scale-y: 0.92;
}

.cell:hover {
    -fx-background-color: rgba(255,255,255,0.05);
    -fx-cursor: hand;
}

.cell:disabled {
    -fx-opacity: 0.35;
    -fx-cursor: default;
}


.reset-btn {
    -fx-font-size: 18px;
    -fx-padding: 8px 15px;
    -fx-background-color: #d9e7e5;
    -fx-background-radius: 8px;
    -fx-text-fill: #2f2f2f;
    -fx-font-weight: bold;
    -fx-border-color: #d9e7e5;
    -fx-border-radius: 8px;
    -fx-margin-top: 10px;
     -fx-scale-x: 1;
        -fx-scale-y: 1;
}


.reset-btn:hover {
    -fx-background-color: #c3d7d4;
    -fx-cursor: hand;
      -fx-scale-x: 1.15;
        -fx-scale-y: 1.15;
}


.reset-btn:pressed {
    -fx-background-color: #b3c5c3;
      -fx-scale-x: 0.95;
        -fx-scale-y: 0.95;
}


